@font-face {
       font-family: Cat; 
       src: url('../assets/fonts/Barking Cat DEMO.otf');
    } 
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 10px;
        overflow: hidden;
        background-color: #88eebb;
        font-family: "cat";
        font-size: 28px;
         margin-top: 0px;
        margin-bottom: 0px;
        line-height: 0px;
    }
    h1{
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 65px;
    }
    li {
        display: inline;
    }
    li a{
        display: inline-block;
        padding: 8px;
        color: white;
        text-decoration: none;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 15px;
    }
    p a{
        color: #ff4d00;   
    }
    a {
       color: #ff4d00;
    }
    li a:hover {
        color: #ff4d00;
        text-align: center;
    }
    .name{
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        font-family: "trebuchet ms"; 
        font-size: 36px;
        color: #ff4d00;
    }
    .active {
        color: #ff4d00;
    }
    .main-block {
        width: 100%;
    }
    .main-image {
        width: 100%;
    }
    .right-block {
        width:100%;
    }
    .info{
        width: 100%;
        padding: 0;
        text-align: justify;
        font-family: "trebuchet ms"; 
        font-size: 16px;
        color: #44aa88;
    }
    #nav-bar{
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 20px;
    }
    #projectTitle{
        font-family: "trebuchet ms";
        text-align: center;
        margin-top: 5vh;
        margin-bottom: 2vh;
        line-height: 40px;
        font-size: 36px;
        color: #44aa88;
    }
     div.gallery {
    margin: 5px;
    display: inline-block;
    width: 340px;
     vertical-align: top;
}

div.gallery:hover {
    background-color:#ffdd88;
}

div.gallery img {
    width: 320px;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: justify;
    font-family: "trebuchet ms"; 
    font-size: 16px;
    color: #44aa88;
}
caption_text{
    text-align: justify;
    font-family: "trebuchet ms"; 
    font-size: 16px;
    color: #44aa88;
}
div a{
       display: inline-block;
        padding: 8px;
        color: white;
        text-decoration: none;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 15px;
}
alink a{
color: #ff4d00; 
padding: 0px;
}
b{
        width: 100%;
        padding: 0;
        text-align: center;
        font-family: "trebuchet ms"; 
        font-size: 22px;
        color: #ff4d00; 
    }
    b:hover{
        color: #000000;
    }
    
    .nounderline{
        text-decoration:none
    }
   